@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MYRIADPRO-BOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}